.board {
    margin: auto;
    border: 2px solid #000;
    border-radius: 5px;
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
}

.board-square {
    width: 10vmin;
    height: 10vmin;
    position: relative;
    align-items: center;
    justify-content: center;
}

.board-square.white-square {
    background-color: #fff;
}

.board-square.black-square {
    background-color: #7fa650;
}
