[Unit]
Description=Go Chess application

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/ubuntu/go/goChess/build
EnvironmentFile=/home/ubuntu/go/goChess/build/.env

[Install]
WantedBy=multi-user.target